@import "reset.less";

/*flex���Բ���*/
.df { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.dif {display: inline-flex;}
.fdr {  -webkit-box-direction: normal;-webkit-box-orient: horizontal;-moz-flex-direction: row;-webkit-flex-direction: row;flex-direction: row;}
.fdrr { -webkit-box-pack: end;-webkit-box-direction: reverse;-webkit-box-orient: horizontal;-moz-flex-direction: row-reverse;-webkit-flex-direction: row-reverse;flex-direction: row-reverse;}
.fdc { -webkit-box-direction: normal;-webkit-box-orient: vertical;-moz-flex-direction: column;-webkit-flex-direction: column;flex-direction: column;}
.fdcr { -webkit-box-pack: end;-webkit-box-direction: reverse;-webkit-box-orient: vertical;-moz-flex-direction: column-reverse;-webkit-flex-direction: column-reverse;flex-direction: column-reverse;}
.fwn {flex-wrap: nowrap;}
.fww {flex-wrap: wrap;}
.fwr {flex-wrap: wrap-reverse;}
.jcfs {-webkit-box-pack: flex-start;-moz-justify-content: flex-start;-webkit-justify-content: flex-start;justify-content: flex-start;}
.jcfe {-webkit-box-pack: flex-end;-moz-justify-content: flex-end;-webkit-justify-content: flex-end;justify-content: flex-end;}
.jcc { -webkit-box-pack: center;-moz-justify-content: center;-webkit-justify-content: center;justify-content: center;}
.jcsb {-webkit-box-pack: space-between;-moz-justify-content: space-between;-webkit-justify-content: space-between;justify-content: space-between;}
.jcsa {-webkit-box-pack: space-around;-moz-justify-content: space-around;-webkit-justify-content: space-around;justify-content: space-around;}
.aifs { -webkit-box-align: flex-start;-moz-align-items: flex-start;-webkit-align-items: flex-start;align-items: flex-start;}
.aife {-webkit-box-align: flex-end;-moz-align-items: flex-end;-webkit-align-items: flex-end;align-items: flex-end;}
.aic { -webkit-box-align: center;-moz-align-items: center;-webkit-align-items: center;align-items: center;}
.aib {-webkit-box-align: baseline;-moz-align-items: baseline;-webkit-align-items: baseline;align-items: baseline;}
.ais {-webkit-box-align: stretch;-moz-align-items: stretch;-webkit-align-items: stretch;align-items: stretch;}
.acfs {align-content: flex-start;}
.acfe {align-content: flex-end;}
.acc {align-content: center;}
.acsb {align-content: space-between;}
.acsa {align-content: space-around;}
.acs {align-content: stretch;}
.asfs{align-self: flex-start;}
.asfe{align-self: flex-end;}
.asc{align-self: center;}
.asb{align-self: baseline;}
.ass{align-self: stretch;}
.fxg{ -webkit-box-flex: 1.0;-moz-flex-grow: 1;-webkit-flex-grow: 1;flex-grow: 1;}
.fxs{  -webkit-box-flex: 1.0;-moz-flex-shrink: 1;-webkit-flex-shrink: 1;flex-shrink: 1;}
.fxa {flex: auto;}
.fxn {flex: none;}
.fx1 {flex: 1;}
.fx2 {flex: 2;}
.fx3 {flex: 3;}
.fx4 {flex: 4;}
.fx5 {flex: 5;}
.fx6 {flex: 6;}

#bg{
  height:100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.3);
  z-index: 98;
}
#bg1{
  height:100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.3);
  z-index: 100;
}
#bg11{
  height:100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.3);
  z-index: 100;
}
.clearfix{
  &:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
}
//头部尾部
#head{
  height:35px;
  width:100%;
  background: #343434;
  &>div{
    width:1200px;
    margin:0 auto;
    height: 35px;
    position: relative;
    line-height: 35px;
    .clearfix;
    &>span{
      color:#fff;
      font-size: 12px;
    }
    &>div{
      display: inline-block;
      float:right;
      font-size: 12px;
      color:#fff;
      a{
        display: inline-block;
        position: relative;
        cursor:pointer;
        color:#fff;
      }
      .name{
        width:120px;
        img{
          width:16px;
          height: 16px;
          margin-right:2px ;
          vertical-align: middle;
          padding-bottom: 3px;
        }
        span{
          width:75px;
          display: inline-block;
        }
      }
      .generalize{
        margin-left:35px;
        padding-right:35px;
        width:52px;
        background:url(../images/headdown.png) no-repeat right center;
        &:after{
          width: 2px;
          content: '';
          height: 12px;
          background: #fff;
          right:-10px;
          top:10px;
          position:absolute;
        }
      }
      .connect{
        margin-left:35px;
        padding-right:35px;
        width:52px;
        background:url(../images/headdown.png) no-repeat right center;
        &:after{
          width: 2px;
          content: '';
          height: 12px;
          background: #fff;
          right:-10px;
          top:10px;
          position:absolute;
        }
      }
      .quit{
        margin-left: 5px;
        padding-right: 35px;
        width: 27px;
        background:url(../images/quit.png) no-repeat right center;
      }
    }
  }
}
.footer {
  height: 164px;
  background: #f2f2f2;
  text-align: center;
  font-size: 18px;
}
.footer ul li {
  margin: 66px 0 37px;
  padding: 0 12px;
  font-size: 14px;
  color: #666;
  display: inline-block;
}
.footer ul li:not(:last-child) {
  border-right: 2px solid #cccccc;
}
header{
  width:100%;
  height:56px;
  border-bottom: 2px solid #f5f5f5;
  *zoom:1;
  &:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
}
.header-link{
  display:block;
  float:left;
  width:100px;
  height:56px;
  padding-left:50px;
  font-size: 18px;
  line-height: 56px;
}
//头部
#header{
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 1240px;
  height: 56px;
  .logo{
    //logo
    margin-left:10px;
    margin-top:13px;
    float:left;
  }
  .mobile-link{
    //手机网站按钮
    .header-link;
    margin-left:20px;
    border:1px solid #ff0000;
    color:#ff0000;
    background:url(../images/linkPhone.png) no-repeat 30px center;
  }
  .wechat{
   //微信按钮
    .header-link;
    border:1px solid transparent;
    color:#999;
    background:url(../images/wechat.png) no-repeat 23px center;
  }
  ul{
    //头部按钮
    float:left;
    height: 100%;
    margin-left: 40px;
    li{
      float:left;
      width:62px;
      height: 100%;
      a{
        display: block;
        width:66px;
        height: 100%;
      }
    }
  }
  .save{
    //保存按钮
    display: block;
    float:left;
    font-size: 14px;
    color:#fff;
    margin-top: 15px;
    margin-left:15px;
    height:30px;
    line-height: 30px;
    padding-left: 50px;
    width:60px;
    background:#ff0000 url(../images/save.png) no-repeat 30px center;
  }
  .cancel{
    //取消按钮
    display: block;
    float:left;
    font-size: 14px;
    margin-top: 15px;
    margin-left:15px;
    height:30px;
    line-height: 30px;
    color:#fff;
    width:60px;
    text-align: center;
    background:#c8c8c8;
  }
  .view{
    display: block;
    float:left;
    font-size: 14px;
    margin-top: 15px;
    margin-left:15px;
    height:30px;
    line-height: 30px;
    color:#fff;
    width:50px;
    text-align: center;
    background:#c8c8c8;
  }
}
#content{
  width:1180px;
  padding:0 30px;
  margin:auto;
  margin-bottom:60px;
  position:relative;
  .clearfix;
  #content-left{
    width:275px;
    height: 660px;
    border:1px solid #c8c8c8;
    margin-top:20px;
  }
}
#content>div{
  float:left;
}
//左边顶部切换
.content-left-top{
  width:100%;
  overflow: hidden;
  div{
    width:50%;
    height:40px;
    float:left;
    line-height: 40px;
    font-size:14px;
    text-align: center;
    color:#999;
    cursor:pointer;
  }
}
//左边顶部激活
.content-left-top-active{
  color:#fff!important;
  background:#ff0000;
}
//导航
.content-left-nav{
  position:relative;
  margin-top:30px;
  li{
    position:relative;
    float:left;
    width:40px;
    height:18px;
    line-height:16px;
    color:#999;
    font-size:14px;
    margin-left:10px;
    text-align: center;
    cursor:pointer;
  }
  &:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
}
//导航激活样式
.content-left-nav-active{
  color:#fff!important;
  background:red;
  &:after{
    position:absolute;
    border:3px solid transparent;
    border-top:3px solid red;
    bottom:-6px;
    left:17px;
    content:"";
  }
}
//列表
.content-left-list{
  border-top:1px solid #999;
  width:100%;
  margin-top:12px;
  height: 570px;
  overflow-y: auto;
}
fieldset{
  width:240px;
  border:1px solid #999;
  padding-left:5px;
  margin-top:10px;
  margin-left:10px;
  ul{
    overflow: hidden;
    width:225px;
    padding:5px 10px 20px 5px;
    li{
      float:left;
      margin-top:10px;
      &:nth-of-type(3n-1){
        margin-left:22px;
        margin-right:22px;
      }
      p{
        font-size: 12px;
        color:#999;
        text-align: center;
        margin-top:10px;
      }
    }
  }
}
legend {
  color:#ff0000;
  font-size: 12px;
  padding-left:5px;
}
//中间手机
#content-middle{
  position:relative;
  width:316px;
  height:532px;
  padding:40px 4px 60px 4px;
  border:1px solid transparent;
  background:url(../images/phone.png) no-repeat center center;
  margin: 40px 60px 0 60px;
  //url链接
  #content-middle-top{
    background:#e2e2e2;
    height: 30px;
    padding-top:8px;
    position:relative;
    z-index: 3;
    input{
      display: inline-block;
      margin-left:10px;
      width:270px;
      height: 25px;
      background:#fff;
      font-size: 12px;
      color:#999;
      text-indent: 24px;
      line-height: 25px;
      float:left;
      white-space:nowrap;
      text-overflow:ellipsis; /* for internet explorer */
      overflow:hidden;
      border:none;
    }
    img{
      float:left;
      margin-left: 8px;
      cursor:pointer;
    }
    &:after{
      display:block;
      content:"clear";
      height:0;
      clear:both;
      overflow:hidden;
      visibility:hidden;
    }
    .url-barcode{
      width:230px;
      height: 230px;
      padding:25px;
      position: absolute;
      background:#fff;
      bottom: -310px;
      right:20px;
      span{
        position:absolute;
        display: block;
        right:0;
        top:-30px;
        width: 0;
        height: 0;
        border-bottom: 30px solid #fff;
        border-left: 45px solid transparent;
      }
      img{
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }
  }
  //iframe
  iframe{
    height: 470px;
    width: 100%;
    margin:auto;
    overflow-x: visible;
  }
  #frame{
    height: 470px;
    width: 100%;
    margin:auto;
    overflow-x: visible;
    overflow-y: scroll;
    position: relative;
  }
}
//右边模块
#content-right{
  position: relative;
  width:450px;
  height:660px;
  border:1px solid #c8c8c8;
  margin-top:20px;
}
//右边顶部切换
.content-right-top{
  width:100%;
  overflow: hidden;
  div{
    width:50%;
    height:40px;
    float:left;
    line-height: 40px;
    font-size:14px;
    text-align: center;
    color:#999;
    cursor:pointer;
  }
}
//右边顶部激活
.content-right-top-active{
  color:#fff!important;
  background:#ff0000;
}
//风格模块
.content-right-nav{
  margin-left:18px;
  margin-top:20px;
  &:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
  li{
    float:left;
    font-size: 14px;
    color:#999;
    padding:0 25px 13px 25px;
    cursor:pointer;
  }
  .content-right-nav-active{
    border-bottom: 2px solid #ff0000;
    color:#666;
  }
}
.content-right-middle{
  padding:15px 0 0 20px;
  &:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
  ul{
    float:left;
    margin-top: 5px;
    margin-left:4px;
    li{
      float:left;
      font-size: 12px;
      color:#999;
      margin-left:6px;
      cursor: pointer;
    }
    .list-active{
      color:red;
    }
  }
}
.content-right-tab{
  float:left;
  &:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
  span{
    display:block;
    width:64px;
    height:22px;
    border:1px solid #ff0000;
    line-height: 22px;
    text-align: center;
    float:left;
    font-size: 12px;
    color:#ff0000;
    cursor: pointer;
  }
  .content-right-tab-active{
    color:#fff;
    background:red;
  }
}
.content-right-search{
  float:left;
  margin-left:15px;
  span{
    font-size:12px;
    color:#666;
  }
  input{
    width:45px;
    height:20px;
    border:1px solid #999;
    padding:0;
  }
}
.content-right-content{
  height:530px;
  margin-left: 20px;
  overflow-y:auto;
  &:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
  li{
    float:left;
    margin-top: 20px;
    padding:2px;
    border:1px solid #999;
    border-radius: 4px;
    &:nth-of-type(3n-1){
      margin-left:15px;
      margin-right:15px;
    }
  }
}
//栏目模块
.right-content2-top{
  height:45px;
  line-height: 43px;
  padding-left: 17px;
  border-bottom: 2px solid #eee;
  span{
    display: inline-block;
    padding:0 15px;
    color:#999;
    font-size: 14px;
    cursor: pointer;
    &.right-content2-top-active{
      border-bottom: 2px solid red;
      color:#666;
    }
  }
}
.right-content2-content{
  table{
    width:430px;
    margin: auto;
    margin-top:25px;
    text-align: center;
    font-size: 14px;
    border:1px solid #e8f2fc;
    tr{
      display: block;
      td{
        height: 40px;
        line-height: 40px;
        &:first-child{
          width:178px;
          span{
            display: inline-block;
            width:100px;
            height: 25px;
            line-height: 25px;
            border:1px solid red;
            color:red;
            cursor: pointer;
          }
        }
        span{
          display: inline-block;
          width:12px;
          height: 12px;
          cursor: pointer;
        }
        &:nth-of-type(2){
          width:90px;
        }
        &:nth-of-type(3){
          width:158px;
          span{
            margin-left:18px;
          }
        }
      }
    }
    thead{
      background:#e8f2fc;
      text-align: center;
      height: 40px;
      line-height: 40px;
      tr{
        td{
          &:nth-of-type(2){
            position:relative;
            &:before{
              display: block;
              width:2px;
              height: 15px;
              background: #aaa;
              position: absolute;
              content:'';
              top:14px;
            }
            &:after{
              display: block;
              width:2px;
              height: 15px;
              background: #aaa;
              position: absolute;
              content:'';
              top:14px;
              right: 0;
            }
          }
        }
      }
    }
    tbody{
      height: 380px;
      display: block;
      overflow-y: auto;
      tr{
        &:nth-of-type(2n){
          background: #e8f2fc;
        }
      }
    }
  }
}
.add-right-content2{
  &:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
  span{
    display: block;
    width: 85px;
    height: 30px;
    line-height:30px;
    color:#fff;
    background:red;
    float:right;
    text-align: center;
    border-radius: 4px;
    margin-top:10px;
    margin-right:10px;
    cursor: pointer;
  }
}
.right-content2-content1-select{
  font-size: 14px;
  color:#333;
  padding-top:35px;
  padding-left: 30px;
  &:after{
    display:block;
    content:"clear";
    height:0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
  }
  div{
    float:left;
    &:nth-of-type(2){
      margin-left: 15px;
      margin-right:15px;
    }
    input{
      margin:0;
      margin-right:8px ;
      outline: none;
    }
  }
}
//栏目样式改变
.column-title-hover{
  background:#eee!important;
}
.column-select{
  background:url(../images/tableIcon.png) no-repeat 0 0;
}
.column-select-active{
  background:url(../images/tableIcon.png) no-repeat 0 -30px;
}
.column-edit{
  background:url(../images/tableIcon.png) no-repeat -20px -60px;
}
.column-edit-active{
  background:url(../images/tableIcon.png) no-repeat 0px -60px;
}
.column-up{
  background:url(../images/tableIcon.png) no-repeat -20px -90px;
}
.column-up-active{
  background:url(../images/tableIcon.png) no-repeat 0px -90px;
}
.column-down{
  background:url(../images/tableIcon.png) no-repeat -20px -120px;
}
.column-down-active{
  background:url(../images/tableIcon.png) no-repeat 0px -120px;
}
.column-del{
  background:url(../images/tableIcon.png) no-repeat 0px -150px;
}
.column-title{
  position:relative;
}
.column-title-active{
  color:#fff!important;
  background: red;
}
.column-system{
  &:before{
    content:'系统';
    display: block;
    height:16px;
    width:27px;
    line-height: 16px;
    text-align: center;
    background: red;
    color:#fff;
    font-size: 12px;
    position: absolute;
    top:5px;
    left:-33px;
  }
  &:after{
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 6px solid red;
    border-bottom: 5px solid transparent;
    position: absolute;
    top:8px;
    left:-8px;
  }
}
//弹出新增栏目
#head-column{
  @w:505px;
  @h:435px;
  width:@w;
  height:@h;
  position: absolute;
  left:0;
  right:0;
  z-index: 99;
  margin:auto;
  top:100px;
  background:#fff;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .head-column-nav{
    height:25px;
    border:2px solid #bfbfbf;
    background:#e4e5e4;
    padding-left:10px;
    .clearfix;
    span{
      float:left;
      display: block;
      padding: 0  12px;
      font-size: 14px;
      line-height: 25px;
      color:#666;
      border-left:1px solid #bfbfbf;
      border-right:1px solid #bfbfbf;
      cursor: pointer;
      &.head-column-nav-active{
        color:#333;
        background: linear-gradient(#e8e8e8, #fff);
        border-bottom: 2px solid #fff;
      }
    }
  }
  .head-column-title{
    margin-top: 25px;
    vertical-align: middle;
    label{
      width:140px;
      display:inline-block;
      font-size: 14px;
      color:#333;
      text-align: right;
      vertical-align: middle;
    }
    input{
      width:150px;
      height: 20px;
      border:1px solid #999;
    }
  }
  .head-column-img{
    vertical-align: middle;
    margin-top: 20px;
    span{
      width:140px;
      display:inline-block;
      font-size: 14px;
      color:#333;
      text-align: right;
      vertical-align: middle;
    }
    label{
      display:inline-block;
      font-size: 14px;
      color:#333;
      vertical-align: middle;
    }
    input{
      vertical-align: middle;
      margin-left:10px;
      margin-top:-2px;
    }
  }
}
.head-column-img-origin{
  margin-left:130px;
  width:40px;
  height:40px;
  background:#696969;
  color:#fff;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.head-column-select-img{
  margin-left:10px;
  margin-top: 7px;
  div{
    span{
      display: inline-block;
      height: 20px;
      width:75px;
      line-height:20px;
      text-align: center;
      font-size: 15px;
      color:#999;
      border:1px solid #999;
      background: #f5f5f5;
      cursor: pointer;
    }
    input{
      margin-left:10px;
      display: inline-block;
      height: 20px;
      width:75px;
      line-height:20px;
      text-align: center;
      font-size: 16px;
      color:#999;
      border:1px solid #999;
      background: #f5f5f5;
      opacity: 0;
    }
    &.rel{
      margin-left:10px;
      span{
        position: absolute;
        top:-1px;
        left:0;
      }
    }
    p{
      font-size: 14px;
      margin-top:10px;
    }
  }
}
.head-column-btn1,.head-column-btn2{
  position: absolute;
  bottom: 15px;
  //left:185px;
  left:0;
  right:0;
  text-align: center;
  span{
    cursor: pointer;
    display: inline-block;
    width:52px;
    height:20px;
    text-align: center;
    line-height:20px;
    border:1px solid red;
    color:#fff;
    background:red;
    border-radius: 2px;
    &:last-child{
      background: #f5f5f5;
      color:#666;
      border:1px solid #666;
      margin-left:20px;
    }
  }
}
.column-link{
  margin-left:160px;
  margin-top:15px;
  input{
    width:130px;
    height: 22px;
    border:1px solid #999;
  }
  span{
    display: inline-block;
    width:70px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border:1px solid #999;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
  }
}
.column-rank{
  margin-top: 20px;
  label{
    width:140px;
    display:inline-block;
    font-size: 14px;
    color:#333;
    text-align: right;
    vertical-align: middle;
  }
}
.head-column-set-img{
  position:absolute;
  top:160px;
  margin:auto;
  left:0;
  right: 0;
  width:450px;
  height: 325px;
  background: #fff;
  z-index: 101;
}
//色彩拾取
#square_one{width:25px;height:25px;display:inline-block; border:1px solid #d3d3d3;margin-left: 10px;}
.head-column-set-head{
  height: 30px;
  line-height: 30px;
  background:red;
  padding:0 10px;
  .clearfix;
  span{
    font-size: 14px;
    color:#fff;
    &:first-child{
      float:left;
    }
    &:last-child{
      font-size: 24px;
      font-weight: bolder;
      float:right;
      cursor: pointer;
    }
  }
}
.color-select{
  margin-top:15px;
  margin-left:20px;
}
.column-icon-content{
  width:410px;
  height: 150px;
  overflow-y: scroll;
  .clearfix;
  background: #9b9b9b;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 15px;
  li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    float:left;
    margin-top:5px;
    margin-left: 5px;
    background: #696969;
    border-radius: 5px;
    font-size: 16px;
    color:#fff;
    text-align: center;
    border:2px solid transparent;
    &.icon-active{
      background:#000;
      border:2px solid yellow;
    }
  }
}
.start-color{
  margin-left: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #696969;
  border-radius: 5px;
  font-size: 16px;
  color:#fff;
  text-align: center;
}
.color-select-last{
  margin-top:10px;
  font-size: 16px;
  span{
    &:nth-of-type(2){
      color:red;
    }
  }
  label{
    color:red;
  }
}
#set-head-link{
  position:absolute;
  top:105px;
  margin:auto;
  left:0;
  right: 0;
  width:545px;
  height: 425px;
  background: #fff;
  z-index: 102;
  .link-type{
    margin-top: 40px;
    div{
      font-size: 14px;
      color:#333;
      margin-left:55px;
    }
    ul{
      width: 345px;
      .clearfix;
      margin-top:-16px;
      li{
        float:left;
        width:25%;
        margin-top:14px;
        label{
          font-size: 14px;
          color:#333;
        }
      }
    }
  }
}
#showlink{
  margin-top: 40px;
  padding-left:55px;
  label{
    font-size: 14px;
    color:#333;
  }
  input{
    font-size: 15px;
    width:215px;
    height: 25px;
    border:1px solid #999;
  }
  select{
    width:150px;
    height: 20px;
    border:1px solid #999;
  }
}
//图文展示模块的添加
#imageTextBg{
  height:100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.3);
  z-index: 100;
}
#imageText{
  position:absolute;
  top:10px;
  margin:auto;
  left:0;
  right: 0;
  width:845px;
  height: 615px;
  background: #fff;
  z-index: 101;
  label{
    margin-left:15px;
    font-size: 14px;
    color:#333;
  }
}
.imageText-nav{
  height:25px;
  border:1px solid #bfbfbf;
  background:#e4e5e4;
  padding-left:10px;
  .clearfix;
  span{
    float:left;
    display: block;
    padding: 0  12px;
    font-size: 14px;
    line-height: 25px;
    color:#666;
    border-left:1px solid #bfbfbf;
    border-right:1px solid #bfbfbf;
    cursor: pointer;
    &.imageText-active{
      color:#333;
      background: linear-gradient(#e8e8e8, #fff);
      border-bottom: 2px solid #fff;
    }
  }
}
#imageTextStyle{
  margin-top: 8px;
  .clearfix;
  li{
    position:relative;
    border:1px solid #eee;
    margin-left:15px;
    &.active{
      border:1px solid #00ff00;
      div{
        background: url(../images/check.gif) no-repeat right bottom;
      }
    }
    .imageTextChecked{
      width:58px;
      height: 38px;
      position: absolute;
      top:0;
      left:0;
    }
  }
}
[class^='imageTextModule']>div{
  &:first-child{
    padding:10px;
    border:1px solid #eee;
    margin-left:12px;
  }
}
.imgTextFile{
  position:relative;
  button{
    display: block;
    width: 80px;
    height: 25px;
    font-size: 14px;
  }
  input{;
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height: 25px;
    opacity: 0;
  }
}
//修改头部
#head-column1{
  @w:505px;
  @h:435px;
  width:@w;
  height:@h;
  position: absolute;
  left:0;
  right:0;
  z-index: 99;
  margin:auto;
  top:100px;
  background:#fff;
  .head-column-head1{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .head-column-nav1{
    height:25px;
    border:2px solid #bfbfbf;
    background:#e4e5e4;
    padding-left:10px;
    .clearfix;
    span{
      float:left;
      display: block;
      padding: 0  12px;
      font-size: 14px;
      line-height: 25px;
      color:#666;
      border-left:1px solid #bfbfbf;
      border-right:1px solid #bfbfbf;
      cursor: pointer;
      &.head-column-nav-active1{
        color:#333;
        background: linear-gradient(#e8e8e8, #fff);
        border-bottom: 2px solid #fff;
      }
    }
  }
  .head-column-title1{
    margin-top: 25px;
    vertical-align: middle;
    label{
      width:140px;
      display:inline-block;
      font-size: 14px;
      color:#333;
      text-align: right;
      vertical-align: middle;
    }
    input{
      width:150px;
      height: 20px;
      border:1px solid #999;
    }
  }
  .head-column-img1{
    vertical-align: middle;
    margin-top: 20px;
    span{
      width:140px;
      display:inline-block;
      font-size: 14px;
      color:#333;
      text-align: right;
      vertical-align: middle;
    }
    label{
      display:inline-block;
      font-size: 14px;
      color:#333;
      vertical-align: middle;
    }
    input{
      vertical-align: middle;
      margin-left:10px;
      margin-top:-2px;
    }
  }
}
.head-column-img-origin1{
  margin-left:130px;
  width:40px;
  height:40px;
  background:#696969;
  color:#fff;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.head-column-select-img1{
  margin-left:10px;
  margin-top: 7px;
  div{
    span{
      display: inline-block;
      height: 20px;
      width:75px;
      line-height:20px;
      text-align: center;
      font-size: 15px;
      color:#999;
      border:1px solid #999;
      background: #f5f5f5;
      cursor: pointer;
    }
    input{
      margin-left:10px;
      display: inline-block;
      height: 20px;
      width:75px;
      line-height:20px;
      text-align: center;
      font-size: 16px;
      color:#999;
      border:1px solid #999;
      background: #f5f5f5;
      opacity: 0;
    }
    &.rel1{
      margin-left:10px;
      position: relative;
      span{
        position: absolute;
        top:-1px;
        left:0;
      }
    }
    p{
      font-size: 14px;
      margin-top:10px;
    }
  }
}
.head-column-btn{
  position: absolute;
  bottom: 15px;
  //left:185px;
  left:0;
  right:0;
  text-align: center;
  span{
    cursor: pointer;
    display: inline-block;
    width:52px;
    height:20px;
    text-align: center;
    line-height:20px;
    border:1px solid red;
    color:#fff;
    background:red;
    border-radius: 2px;
    &:last-child{
      background: #f5f5f5;
      color:#666;
      border:1px solid #666;
      margin-left:20px;
    }
  }
}
.column-link1{
  margin-left:160px;
  margin-top:15px;
  input{
    width:130px;
    height: 22px;
    border:1px solid #999;
  }
  span{
    display: inline-block;
    width:70px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border:1px solid #999;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
  }
}
.column-rank1{
  margin-top: 20px;
  label{
    width:140px;
    display:inline-block;
    font-size: 14px;
    color:#333;
    text-align: right;
    vertical-align: middle;
  }
}
.head-column-set-img1{
  position:absolute;
  top:160px;
  margin:auto;
  left:0;
  right: 0;
  width:450px;
  height: 325px;
  background: #fff;
  z-index: 101;
}
//色彩拾取
#square_one1{width:25px;height:25px;display:inline-block; border:1px solid #d3d3d3;margin-left: 10px;}
.head-column-set-head1{
  height: 30px;
  line-height: 30px;
  background:red;
  padding:0 10px;
  .clearfix;
  span{
    font-size: 14px;
    color:#fff;
    &:first-child{
      float:left;
    }
    &:last-child{
      font-size: 24px;
      font-weight: bolder;
      float:right;
      cursor: pointer;
    }
  }
}
.color-select1{
  margin-top:15px;
  margin-left:20px;
}
.column-icon-content1{
  width:410px;
  height: 150px;
  overflow-y: scroll;
  .clearfix;
  background: #9b9b9b;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 15px;
  li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    float:left;
    margin-top:5px;
    margin-left: 5px;
    background: #696969;
    border-radius: 5px;
    font-size: 16px;
    color:#fff;
    text-align: center;
    border:2px solid transparent;
    &.icon-active1{
      background:#000;
      border:2px solid yellow;
    }
  }
}
.start-color1{
  margin-left: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #696969;
  border-radius: 5px;
  font-size: 16px;
  color:#fff;
  text-align: center;
}
.color-select-last1{
  margin-top:10px;
  font-size: 16px;
  span{
    &:nth-of-type(2){
      color:red;
    }
  }
  label{
    color:red;
  }
}
#set-head-link1{
  position:absolute;
  top:105px;
  margin:auto;
  left:0;
  right: 0;
  width:545px;
  height: 425px;
  background: #fff;
  z-index: 102;
  .link-type1{
    margin-top: 40px;
    div{
      font-size: 14px;
      color:#333;
      margin-left:55px;
    }
    ul{
      width: 345px;
      .clearfix;
      margin-top:-16px;
      li{
        float:left;
        width:25%;
        margin-top:14px;
        label{
          font-size: 14px;
          color:#333;
        }
      }
    }
  }
}
#showlink1{
  margin-top: 40px;
  padding-left:55px;
  label{
    font-size: 14px;
    color:#333;
  }
  input{
    font-size: 15px;
    width:215px;
    height: 25px;
    border:1px solid #999;
  }
  select{
    width:150px;
    height: 20px;
    border:1px solid #999;
  }
}
//列表多图
#head-column-list-image{
  @w:580px;
  @h:485px;
  width:@w;
  height:@h;
  position: absolute;
  left:0;
  right:0;
  z-index: 99;
  margin:auto;
  top:100px;
  background:#fff;
  font-size: 14px;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .head-column-nav{
    height:25px;
    border:2px solid #bfbfbf;
    background:#e4e5e4;
    padding-left:10px;
    .clearfix;
    span{
      float:left;
      display: block;
      padding: 0  12px;
      font-size: 14px;
      line-height: 25px;
      color:#666;
      border-left:1px solid #bfbfbf;
      border-right:1px solid #bfbfbf;
      cursor: pointer;
      &.head-column-nav-active{
        color:#333;
        background: linear-gradient(#e8e8e8, #fff);
        border-bottom: 2px solid #fff;
      }
    }
  }
  .list-image-content{
    .list-image-title{
      margin-top:10px;
      margin-left:20px;
    }
    .list-image-style{
      margin-top:10px;
      margin-left:20px;
      .clearfix;
      label{
        float:left;
      }
      &>div{
        float:left;
        div{
          float:left;
          margin-left:10px;
          position: relative;
          img{
            display: block;
          }
          div{
            margin:0;
            position: absolute;
            width: 100%;
            height: 100%;
            border:1px solid greenyellow;
            top:0;
            left: 0;
          }
          .active{
            border:2px solid greenyellow;
            background: url(../images/check.gif) no-repeat right bottom;
          }
        }
      }
    }
    .list-image-images{
      margin-left: 20px;
      margin-top:30px;
      width: 510px;
      height: 70px;
      padding:10px 10px 10px 0;
      border:1px solid #eee;
      overflow-y: scroll;
      .clearfix;
      li{
        float:left;
        width:68px;
        height: 68px;
        border:1px solid #eee;
        margin-left:10px;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
        }
        .del{
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,170,0.1);
          span{
            position:absolute;
            bottom: 0;
            right:0;
            width:20px;
            height: 20px;
            line-height: 18px;
            font-size: 30px;
            background: blue;
            color:#fff;
            cursor: pointer;
          }
        }
        &.list-image-select{
          border: none;
          width:70px;
          height: 70px;
          background: url(../images/selectimage.png) no-repeat center center;
          -webkit-background-size:cover;
          background-size:cover;
        }
      }
    }
    .list-image-count{
      margin-left:20px;
      margin-top: 10px;
    }
  }
}
.list-image-btn{
  position: absolute;
  bottom: 15px;
  //left:185px;
  left:0;
  right:0;
  text-align: center;
  span{
    cursor: pointer;
    display: inline-block;
    width:52px;
    height:20px;
    text-align: center;
    line-height:20px;
    border:1px solid red;
    color:#fff;
    background:red;
    border-radius: 2px;
    &:last-child{
      background: #f5f5f5;
      color:#666;
      border:1px solid #666;
      margin-left:20px;
    }
  }
}
.list-image-pop{
  position:absolute;
  z-index: 103;
  width: 270px;
  height: 300px;
  background: #fff;
  margin:auto;
  left:0;
  right: 0;
  top:200px;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .list-image-image-select{
    width: 150px;
    height:150px;
    margin:auto;
    margin-top:10px;
    position: relative;
    background-image: url(../images/addimage.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size:cover;
    background-size:cover;
    .clearfix;
    input{
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  .list-image-set-link{
    margin-top:20px;
    font-size: 14px;
    margin-left: 20px;
  }
}
//轮播多图
#head-column-list-play{
  @w:580px;
  @h:485px;
  width:@w;
  height:@h;
  position: absolute;
  left:0;
  right:0;
  z-index: 99;
  margin:auto;
  top:100px;
  background:#fff;
  font-size: 14px;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .head-column-nav{
    height:25px;
    border:2px solid #bfbfbf;
    background:#e4e5e4;
    padding-left:10px;
    .clearfix;
    span{
      float:left;
      display: block;
      padding: 0  12px;
      font-size: 14px;
      line-height: 25px;
      color:#666;
      border-left:1px solid #bfbfbf;
      border-right:1px solid #bfbfbf;
      cursor: pointer;
      &.head-column-nav-active{
        color:#333;
        background: linear-gradient(#e8e8e8, #fff);
        border-bottom: 2px solid #fff;
      }
    }
  }
  .list-play-content{
    .list-play-title{
      margin-top:10px;
      margin-left:20px;
    }
    .list-play-style{
      margin-top:10px;
      margin-left:20px;
      .clearfix;
      label{
        float:left;
      }
      &>div{
        float:left;
        div{
          float:left;
          margin-left:10px;
          position: relative;
          img{
            display: block;
          }
          div{
            margin:0;
            position: absolute;
            width: 100%;
            height: 100%;
            border:1px solid greenyellow;
            top:0;
            left: 0;
          }
          .active{
            border:2px solid greenyellow;
            background: url(../images/check.gif) no-repeat right bottom;
          }
        }
      }
    }
    .list-play-images{
      margin-left: 20px;
      margin-top:30px;
      width: 510px;
      height: 70px;
      padding:10px 10px 10px 0;
      border:1px solid #eee;
      overflow-y: scroll;
      .clearfix;
      li{
        float:left;
        width:68px;
        height: 68px;
        border:1px solid #eee;
        margin-left:10px;
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
        }
        .del{
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,170,0.1);
          span{
            position:absolute;
            bottom: 0;
            right:0;
            width:20px;
            height: 20px;
            line-height: 18px;
            font-size: 30px;
            background: blue;
            color:#fff;
            cursor: pointer;
          }
        }
        &.list-play-select{
          border: none;
          width:70px;
          height: 70px;
          background: url(../images/selectimage.png) no-repeat center center;
          -webkit-background-size:cover;
          background-size:cover;
        }
      }
    }
    .list-play-count{
      margin-left:20px;
      margin-top: 10px;
    }
  }
  .list-play-content1{
    padding-left: 20px;
    div{
      margin-top:10px;
      input[type='text']{
        width: 50px;
      }
      span{
        margin-left:4px;
      }
      input[type='radio']{
        margin-left:4px;
      }
    }
  }
}
.list-play-btn{
  position: absolute;
  bottom: 15px;
  //left:185px;
  left:0;
  right:0;
  text-align: center;
  span{
    cursor: pointer;
    display: inline-block;
    width:52px;
    height:20px;
    text-align: center;
    line-height:20px;
    border:1px solid red;
    color:#fff;
    background:red;
    border-radius: 2px;
    &:last-child{
      background: #f5f5f5;
      color:#666;
      border:1px solid #666;
      margin-left:20px;
    }
  }
}
//弹出层
.list-play-pop{
  position:absolute;
  z-index: 103;
  width: 270px;
  height: 340px;
  background: #fff;
  margin:auto;
  left:0;
  right: 0;
  top:200px;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .list-play-image-select{
    width: 150px;
    height:150px;
    margin:auto;
    margin-top:10px;
    position: relative;
    background-image: url(../images/addimage.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size:cover;
    background-size:cover;
    .clearfix;
    input{
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
  .list-play-set-link{
    margin-top:20px;
    font-size: 14px;
    margin-left: 20px;
  }
}
//滚动公告
#head-column-list-roll{
  @w:700px;
  @h:435px;
  width:@w;
  height:@h;
  position: absolute;
  left:0;
  right:0;
  z-index: 99;
  margin:auto;
  top:100px;
  background:#fff;
  font-size: 14px;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .head-column-nav{
    height:25px;
    border:2px solid #bfbfbf;
    background:#e4e5e4;
    padding-left:10px;
    .clearfix;
    span{
      float:left;
      display: block;
      padding: 0  12px;
      font-size: 14px;
      line-height: 25px;
      color:#666;
      border-left:1px solid #bfbfbf;
      border-right:1px solid #bfbfbf;
      cursor: pointer;
      &.head-column-nav-active{
        color:#333;
        background: linear-gradient(#e8e8e8, #fff);
        border-bottom: 2px solid #fff;
      }
    }
  }
  .list-roll-content {
    .list-roll-title {
      margin-top: 10px;
      margin-left: 20px;
    }
    table{
      width: 100%;
      background: rgba(150,150,250 ,0.2);
      margin-top: 10px;
      text-align: center;
      border: 1px solid #9696FA;
      td{
        padding:2px;
        border:1px solid red;
      }
      tr{
        border:1px solid red;
        td:nth-of-type(3){
          text-align: center;
          span{
            background: red;
            font-size: 14px;
            display: inline-block;
            border-radius: 2px;
            margin-left: 5px;
            width:15px;
            height: 15px;
            color:#fff;
            cursor: pointer;
            font-weight: bold;
          }
        }
      }
      tr:nth-of-type(even){
        background: #fff;
      }
      thead{
        background: #fff;
        td:first-child{
          width: 40%;
        }
        td:nth-of-type(2){
          width: 30%;
        }
        td:nth-of-type(3){
          width: 30%;
        }
      }
    }
  }
  .list-roll-content1{
    padding:0 20px;
    &>div{
      margin-top: 10px;
    }
  }
}
.list-roll-btn{
  position: absolute;
  bottom: 15px;
  //left:185px;
  left:0;
  right:0;
  text-align: center;
  span{
    cursor: pointer;
    display: inline-block;
    width:52px;
    height:20px;
    text-align: center;
    line-height:20px;
    border:1px solid red;
    color:#fff;
    background:red;
    border-radius: 2px;
    &:last-child{
      background: #f5f5f5;
      color:#666;
      border:1px solid #666;
      margin-left:20px;
    }
  }
}
//弹出层
.list-roll-pop{
  position:absolute;
  z-index: 103;
  width: 270px;
  height: 200px;
  background: #fff;
  margin:auto;
  left:0;
  right: 0;
  top:200px;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  label{
    font-size: 14px;
  }
  .list-roll-btn{
    position: absolute;
    bottom: 15px;
    //left:185px;
    left:0;
    right:0;
    text-align: center;
    span{
      cursor: pointer;
      display: inline-block;
      width:52px;
      height:20px;
      text-align: center;
      line-height:20px;
      border:1px solid red;
      color:#fff;
      background:red;
      border-radius: 2px;
      &:last-child{
        background: #f5f5f5;
        color:#666;
        border:1px solid #666;
        margin-left:20px;
      }
    }
  }
}
//已加载模块
#loaded-modules{
  .clearfix;
  padding:5px;
  li{
    float:left;
    margin:11px;
    position: relative;
    img{
      width:65px;
      height:60px;
    }
    p{
      text-align: center;
      font-size: 14px;
      margin-top: 5px;
    }
    div{
      position:absolute;
      width:15px;
      height: 15px;
      line-height: 10px;
      text-align: center;
      background: red;
      font-size: 18px;
      color:#fff;
      font-weight: bold;
      right:0;
      top:0;
      cursor:pointer;
    }
  }
}
//右边的系统模块
#right-content4{
  font-size:12px;
  ul{
    li{
      margin-top:12px;
      .df;
      .aic;
      b{
        font-weight: normal;
        display: inline-block;
        width: 100px;
        text-align: right;
      }
    }
  }
}
//文章列表
#head-column-text-list{
  @w:580px;
  @h:350px;
  width:@w;
  height:@h;
  position: absolute;
  left:0;
  right:0;
  z-index: 99;
  margin:auto;
  top:100px;
  background:#fff;
  font-size: 14px;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .head-column-nav{
    height:25px;
    border:2px solid #bfbfbf;
    background:#e4e5e4;
    padding-left:10px;
    .clearfix;
    span{
      float:left;
      display: block;
      padding: 0  12px;
      font-size: 14px;
      line-height: 25px;
      color:#666;
      border-left:1px solid #bfbfbf;
      border-right:1px solid #bfbfbf;
      cursor: pointer;
      &.head-column-nav-active{
        color:#333;
        background: linear-gradient(#e8e8e8, #fff);
        border-bottom: 2px solid #fff;
      }
    }
  }
  .text-list-content{
    .text-list-title{
      margin-top:10px;
      margin-left:20px;
    }
    .text-list-count{
      margin-top:30px;
      margin-left:20px;
    }
    .text-list-style{
      margin-top:30px;
      margin-left:20px;
      .clearfix;
      label{
        float:left;
      }
      &>div{
        float:left;
        div{
          float:left;
          margin-left:10px;
          position: relative;
          img{
            display: block;
          }
          div{
            margin:0;
            position: absolute;
            width: 100%;
            height: 100%;
            border:1px solid greenyellow;
            top:0;
            left: 0;
          }
          .active{
            border:2px solid greenyellow;
            background: url(../images/check.gif) no-repeat right bottom;
          }
        }
      }
    }
  }
}
.text-list-btn{
  position: absolute;
  bottom: 15px;
  //left:185px;
  left:0;
  right:0;
  text-align: center;
  span{
    cursor: pointer;
    display: inline-block;
    width:52px;
    height:20px;
    text-align: center;
    line-height:20px;
    border:1px solid red;
    color:#fff;
    background:red;
    border-radius: 2px;
    &:last-child{
      background: #f5f5f5;
      color:#666;
      border:1px solid #666;
      margin-left:20px;
    }
  }
}
//魔方导航
#navBar{
  @w:580px;
  @h:570px;
  width:@w;
  height:@h;
  position: absolute;
  left:0;
  right:0;
  z-index: 99;
  margin:auto;
  top:100px;
  background:#fff;
  font-size: 14px;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .head-column-nav{
    height:25px;
    border:2px solid #bfbfbf;
    background:#e4e5e4;
    padding-left:10px;
    .clearfix;
    span{
      float:left;
      display: block;
      padding: 0  12px;
      font-size: 14px;
      line-height: 25px;
      color:#666;
      border-left:1px solid #bfbfbf;
      border-right:1px solid #bfbfbf;
      cursor: pointer;
      &.head-column-nav-active{
        color:#333;
        background: linear-gradient(#e8e8e8, #fff);
        border-bottom: 2px solid #fff;
      }
    }
  }
  .navBarStyle{
    padding:10px 25px 0 25px;
    &>div{
      margin-top: 10px;
      height:150px;
      border: 2px solid #eee;
      overflow: auto;
      ul{
        .clearfix;
      }
      li{
        margin:15px 10px;
        float: left;
        position: relative;
        div{
          position: absolute;
          left:0;
          top:0;
        }
        .navActive{
          width:100%;
          height: 100%;
          border: 1px solid green;
          background: url(../images/check.gif) no-repeat right bottom;
        }
      }
    }
  }
  table{
    width: 100%;
    background: rgba(150,150,250 ,0.2);
    margin-top: 10px;
    text-align: center;
    border: 1px solid #9696FA;
    td{
      padding:2px;
      border:1px solid red;
      text-align: center;
      vertical-align: middle;
      .del{
        width: 15px;
        height: 15px;
        display: inline-block;
        background: red;
        color: #fff;
        cursor: pointer;
      }
    }
    tr{
      border:1px solid red;
      img{
        width: 20px;
        height: 20px;
      }
    }
    tr:nth-of-type(even){
      background: #fff;
    }
    thead{
      background: #fff;
      th:first-child{
        width: 20%;
      }
      th:nth-of-type(2){
        width: 40%;
      }
      th:nth-of-type(3){
        width: 20%;
      }
      th:nth-of-type(4){
        width: 20%;
      }
    }
  }
}
//魔方导航弹出
.navBarPop{
  position:absolute;
  z-index: 103;
  width: 270px;
  height: 300px;
  background: #fff;
  margin:auto;
  left:0;
  right: 0;
  top:200px;
  .head-column-head{
    height: 30px;
    line-height: 30px;
    background:red;
    padding:0 10px;
    .clearfix;
    span{
      font-size: 14px;
      color:#fff;
      &:first-child{
        float:left;
      }
      &:last-child{
        font-size: 24px;
        font-weight: bolder;
        float:right;
        cursor: pointer;
      }
    }
  }
  .list-image-set-link{
    margin-top:20px;
    font-size: 14px;
    margin-left: 20px;
    label{
      display: inline-block;
      width: 70px;
      text-align: right;
    }
  }
  .navbarpop-btn{
    position: absolute;
    bottom: 15px;
    //left:185px;
    left:0;
    right:0;
    text-align: center;
    span{
      cursor: pointer;
      display: inline-block;
      width:52px;
      height:20px;
      text-align: center;
      line-height:20px;
      border:1px solid red;
      color:#fff;
      background:red;
      border-radius: 2px;
      &:last-child{
        background: #f5f5f5;
        color:#666;
        border:1px solid #666;
        margin-left:20px;
      }
    }
  }
}
