<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
    <title>首页</title>
    <link rel="stylesheet" href="../../../../Public/Style/station/styles/template.css"/>
    <link rel="stylesheet" href="../../../../Public/Style/station/styles/templateDel.css"/>
    <script src="../../../../Public/Style/station/scripts/plug/jquery.min.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/jqPaginator.min.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/pageSwitch.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/jquery.dad.min.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/templateDel.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/template.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/loadModule/imageText.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/loadModule.js"></script>
</head>
<body>
    <div class="layout">
        <header class="header1">
            <span id="show">≡</span>
            <ul class="template-head" style="display: none">
                <!--<li>-->
                    <!--<img src="../images/template1/head1.png" alt="">-->
                    <!--<p>首页</p>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img src="../images/template1/head2.png" alt="">-->
                    <!--<p>产品展示</p>-->
                <!--</li>-->
            </ul>
        </header>
        <div class="banner1">
            <img src="../../../../Public/Style/station/images/template1/banner.png" alt="">
        </div>
        <!--主题内容-->
        <div id="content">
        </div>
        <div id="to-top" class="to-top">
            <span>Top</span>
        </div>
        <div class="footer">
            <p>©2016-版权所有</p>
            <div>本站由窝游建站搭建  |  <a href="">电脑版</a>  |  <a href="">举报</a></div>
        </div>
    </div>
    <!--<script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>-->
</body>
</html>