<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
    <title>首页</title>
    <link rel="stylesheet" href="../../../../Public/Style/station/styles/template.css"/>
    <link rel="stylesheet" href="../../../../Public/Style/station/styles/templateDel.css"/>
    <script>
        var _page_conf=<?php echo json_encode($conf);?>;
    </script>
    <script src="../../../../Public/Style/station/scripts/plug/jquery.min.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/jqPaginator.min.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/pageSwitch.js"></script>
    <!--<script src="../../../../Public/Style/station/scripts/template/templateDel.js" id="templateDel"></script>-->
    <script src="../../../../Public/Style/station/scripts/template/template.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/loadModule/imageText.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/loadModule/imageList.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/loadModule/imagePlay.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/loadModule/rollNotice.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/loadModule/textList.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/header/loadHeader.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/header/bindHeader.js"></script>
    <script src="../../../../Public/Style/station/scripts/template/loadModule.js"></script>
</head>
<body>
    <div class="layout">
        <header class="header1">
            <span id="show">≡</span>
            <ul class="template-head" style="display: none">
            </ul>
        </header>
        <div class="banner1">
            <img src="../../../../Public/Style/station/images/template1/banner.png" alt="">
        </div>
        <!--主题内容-->
        <div id="content">
            <!--<div class="module textList dads-children module1" index="1487640539305" data="" data-dad-id="2" data-dad-position="2">-->
                <!--<div class="module-top dad-draggable-area">-->
                    <!--<h3>文章列表</h3>-->
                <!--</div>-->
                <!--<ul>-->
                    <!--<li>123211111111111111111111111111111111111111111111111111111111113</li>-->
                    <!--<li>123213</li>-->
                    <!--<li>123213</li>-->
                <!--</ul>-->
                <!--<style>-->
                    <!--.textList.module1{background: #fff;}-->
                    <!--.textList.module1 ul li{  height: 50px;  line-height: 50px;  font-size:12px ;  padding-left:10%;  padding-right:30%;  position: relative;  border-bottom: 1px solid #eee;  white-space: nowrap;  overflow: hidden;  text-overflow: ellipsis;  }-->
                    <!--.textList.module1 ul li:before{  line-height: 12px;  width:12px;  height: 12px;  content: ".";  position: absolute;  margin-top: 2px;  left:4%;  font-size: 50px;  }-->
                    <!--.textList.module1 ul li:after{  line-height: 12px;  width:12px;  height: 12px;  content: ">";  position: absolute;  top:25px;  margin-top: -6px;  right:10%;  font-size: 20px;  }-->
                <!--</style>-->
            <!--</div>-->
        </div>
        <div id="to-top" class="to-top">
            <span>Top</span>
        </div>
        <div class="footer">
            <p>©2016-版权所有</p>
            <div>本站由窝游建站搭建  |  <a href="">电脑版</a>  |  <a href="">举报</a></div>
        </div>
    </div>
    <!--<script src="https://cdn.staticfile.org/jquery/1.11.3/jquery.min.js"></script>-->
</body>
</html>